doctype html
html
    head(lang="en")
        title title name
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
        // if lt IE 9
            script(type="text/javascript", src="js/html5shiv.js")
        link(rel="stylesheet", href="css/main.css", type="text/css")
    body
        .container
            .row
                section.col.s12.valign-center
                    h1.hello Hello World

        footer

        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(type="text/javascript", ssrc="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
        // if IE
            script(type="text/javascript", src="js/placeholder.js")

